@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout2";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
   <link rel="stylesheet" asp-href-include="css/Css1.css" />

    <title>Tuskla</title>
    <style>

        .Home {
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-decoration: none;
            padding-bottom: 5px;
        }

        .ul1 {
            font-size: 25px;
            font-weight: bold;
            color: black;
            /*text-decoration: none;*/
            padding-bottom: 5px;
            list-style-type: none;
            line-height: 250%;
        }

       .ul1 a {
            font-size: 25px;
            font-weight: bold;
            color: black;
            /*text-decoration: none; */
            padding-bottom: 5px;
            list-style-type: none;
            line-height: 250%;
       }

    </style>
</head>
<body>


 
<br /> <br />  
<h2> Admin Menus</h2>
<br />
<br />

<ul class="ul1">
   <li> <a> @Html.ActionLink("List/Create/Edit/Delete Admin Users", "Index", "Account") </a> </li> 
   <li> <a> @Html.ActionLink("Create Admin User", "Create", "Account") </a> </li>
   <li> <a> @Html.ActionLink("List Orders", "List2", "Order") </a> </li>
   <li> <a> @Html.ActionLink("Ship Orders", "List", "Order") </a> </li>
   <li> <a> @Html.ActionLink("List Products", "Index2", "Admin") </a> </li>
   <li> <a> @Html.ActionLink("Add Products", "AddProduct", "Admin") </a> </li>
   <li> <a> @Html.ActionLink("Edit Products", "Index3", "Admin") </a> </li>
   <li> <a> @Html.ActionLink("Delete Products", "Index4", "Admin") </a> </li>
</ul>


</body>

</html>