<header class="navbar navbar-inverse row flex-nowrap sticky-top justify-content-between align-items-center">
    <nav>
        <a href="../..">
            <img class="logo" src="~/img/logos/tuskla-text-black-1948-264.png" />
        </a>
    </nav>
    <nav class="center desktop">
        <span class="navigation">@Html.ActionLink("Model 3", "Index", "Vehicle", new { Model = "Model 3 Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model Y", "Index", "Vehicle", new { Model = "Model Y Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model X", "Index", "Vehicle", new { Model = "Model X Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model S", "Index", "Vehicle", new { Model = "Model S Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Merchandise", "List", "Product", null, null)</span>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="navigation">@Html.ActionLink("Administration", "Index", "Admin")</span>
        }
    </nav>
    <nav class="float-right right">
        <span class="float-left align-middle">
            @await Component.InvokeAsync("CartSummary")
        </span>
        <span class="align-middle">
            @await Component.InvokeAsync("AccountMenu")
        </span>
        <span class="float-right navigation align-middle">
            <span id="menuButton">Menu</span>
        </span>
    </nav>
</header>

<div class="backdrop"></div>

<aside>
    <button class="close">&times;</button>
    <div class="menu-category">Shop</div>
    <div class="navigation">@Html.ActionLink("Model 3", "Index", "Vehicle", new { Model = "Model 3 Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model Y", "Index", "Vehicle", new { Model = "Model Y Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model X", "Index", "Vehicle", new { Model = "Model X Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model S", "Index", "Vehicle", new { Model = "Model S Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Merchandise", "List", "Product", null, null)</div>
    <div class="navigation">@Html.ActionLink("Check Orders", "Find", "Order") </div>
    <div class="navigation">
        @Html.ActionLink("Contact Us", "DisplayInfo", "Info", new { document = "Contact" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("FAQs", "DisplayInfo", "Info", new { document = "FAQs" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Safety", "DisplayInfo", "Info", new { document = "Saftey" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Ordering", "DisplayInfo", "Info", new { document = "Ordering" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Warranty", "DisplayInfo", "Info", new { document = "Warranty" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("AutoPilot", "DisplayInfo", "Info", new { document = "AutoPilot" }, null)
    </div>
    <div class="menu-category">Charging</div>
    <div class="navigation">
        @Html.ActionLink("Fast Charging", "DisplayInfo", "Info", new { document = "Charging" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Wall Charging", "DisplayInfo", "Info", new { document = "WallCharging" }, null)
    </div>
    <div class="menu-category">Corporate Information</div>
    <div class="navigation">
        @Html.ActionLink("Company", "DisplayInfo", "Info", new { document = "CorporateInfo" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Financial Reports", "DisplayInfo", "Info", new { document = "Financial" }, null)
    </div>
    <div class="navigation">
        @Html.ActionLink("Master Plan", "DisplayInfo", "Info", new { document = "MasterPlan" }, null)
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="menu-category">Administration</div>
        <div class="navigation">
            @Html.ActionLink("Admin Menus", "Index", "Admin")
        </div>
    }
</aside>

<script src="~/js/navigation.js"></script>