<header class="navbar navbar-inverse row flex-nowrap sticky-top justify-content-between align-items-center">
    <nav>
        <a href="../..">
            <img class="logo" src="~/img/logos/tuskla-text-black-1948-264.png" />
        </a>
    </nav>
    <nav class="center desktop">
        <span class="navigation">@Html.ActionLink("Model 3", "Index", "Vehicle", new { Model = "Model 3 Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model Y", "Index", "Vehicle", new { Model = "Model Y Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model X", "Index", "Vehicle", new { Model = "Model X Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Model S", "Index", "Vehicle", new { Model = "Model S Plaid" }, null)</span>
        <span class="navigation">@Html.ActionLink("Merchandise", "List", "Product", new { category = "Exterior"}, null)</span>
    </nav>
    <nav class="right">
        <div class="float-left menu-cart">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <a class="navigation" href="">Account</a>
        <a class="navigation" href="" id="menuButton">Menu</a>
    </nav>
</header>

<div class="backdrop"></div>

<aside>
    <button class="close">X</button>
    <div class="menu-category">Shop</div>
    <div class="navigation">@Html.ActionLink("Model 3", "Index", "Vehicle", new { Model = "Model 3 Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model Y", "Index", "Vehicle", new { Model = "Model Y Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model X", "Index", "Vehicle", new { Model = "Model X Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Model S", "Index", "Vehicle", new { Model = "Model S Plaid" }, null)</div>
    <div class="navigation">@Html.ActionLink("Merchandise", "List", "Product", new { category = "Exterior"}, null)</div>
    <div class="navigation">@Html.ActionLink("Check Orders", "List4", "Order") </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/Contact.html")">Contact Us</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/FAQs.html")">FAQs</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/Ordering.html")">Ordering</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/Warranty.html")">Warranty</a>
    </div>
    <div class="menu-category">Charging</div>
    <div class="navigation">
        <a href="@Url.Content("../docs/Charging.html")">Fast Charging</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/WallCharging.html")">Wall Charging</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/AutoPilot.html")">AutoPilot</a>
    </div>
    <div class="menu-category">Corporate Information</div>
    <div class="navigation">
        <a href="@Url.Content("../docs/CorporateInfo.html")">Company</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/Financial.html")">Financial Report</a>
    </div>
    <div class="navigation">
        <a href="@Url.Content("../docs/MasterPlan.html")">Master Plan</a>
    </div>
     <div class="menu-category">Administration</div>
    <div class="navigation">
        @Html.ActionLink("Admin Menus", "MainAdmin", "Admin")
    </div>
     
<!--    <div class="navigation">
             REMOVE@Html.ActionLink("Check Orders", "List2", "Order")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("List Users", "Index", "Account")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("Create Account", "Create", "Account")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("Ship Orders", "List", "Order")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("Add Product", "Create", "Admin")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("Edit Product", "Edit", "Admin")
    </div>
    <div class="navigation">
            REMOVE@Html.ActionLink("Delete Product", "Delete", "Admin")
    </div>
-->
</aside>

<script src="~/js/navigation.js"></script>