@model CartIndexViewModel

@{
    Layout = "_Layout";
}

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>
<p>Yor Order Id is @ViewBag.orderid</p>
<p>An E-Mail has been sent which provides details of delivery</p>




<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="float-left">Your Order</span>
                        <span class="float-right">(<strong>@Model.Cart.CartItems()</strong>) items</span>
                    </div>
                    @if (Model.Cart.CartItems() != 0)
                    {
                        <div class="ibox-content">
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tr>
                                            <th class="text-left" colspan="2">Item</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                        <tbody>
                                            @foreach (var line in Model.Cart.Lines)
                                            {
                                                <tr>
                                                    <td width="90">
                                                        <div class="cart-product-imitation">
                                                            <!-- INSERT IMAGES -->
                                                        </div>
                                                    </td>
                                                    <td class="desc">
                                                        <h3>
                                                            <a href="#" class="text-navy">
                                                                @line.Product.Name
                                                            </a>
                                                        </h3>
                                                        <p class="small">
                                                            @line.Product.Description
                                                        </p>
                                                        <div class="m-t-sm">
                                                            @if (line.Product.Category != "Car" || line.Product.Name.StartsWith("Model"))
                                                            {
                                                                <form asp-action="RemoveFromCart" method="post">
                                                                    <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                                                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                                                    <button type="submit" class="text-muted"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                                                                </form>
                                                            }
                                                        </div>
                                                    </td>
                                                    <td class="center">
                                                        @line.Product.Price.ToString("c")
                                                    </td>
                                                    <td width="65">
                                                        @line.Quantity
                                                    </td>
                                                    <td>
                                                        <h4>
                                                            @(
                                                                (line.Quantity * line.Product.Price).ToString("c"))
                                                        </h4>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@{
    Model.ClearCart();
}