@{
    ViewBag.Title = "Order Your " + @ViewBag.ModelType + " | Tuskla - Electric Cars";
    Layout = "_Layout";
}

<style>
    body {
        background: url(@ViewBag.Logo) no-repeat center center fixed;
        background-size: cover;
    }
</style>

<section>
    <div class="content">
        <h1>@ViewBag.ModelType</h1>
        <h2>Purchase Now</h2>
        <div class="buttons">
            @Html.ActionLink("Standard", "Design",  "Vehicle",  new { Model = ViewBag.ModelStandard }, new { @class = "buttonStandard" })
            @Html.ActionLink("Plaid", "Design",  "Vehicle",  new { Model = ViewBag.ModelPlaid }, new { @class = "buttonPlaid" })
        </div>
    </div>
</section>