@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="Car, car, car, car">
    <meta name="keywords" content="Search engine keywords, like car">
    <script type="text/javascript" src="~/js/google-antiflicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/google-antiflicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/font-awesome/css/*.css" />
    <title>Tuskla - Electric Cars</title>
    <link rel="icon" type="image/x-icon" href="~/img/logos/tuskla-logo-2184-2036.png">
    <style>body{background-image: url(@ViewBag.Logo)}</style>
</head>
<body>
    @Html.Partial("Header")
    <br />
    <br />
    <section class="model-3 active">
        <div class="content">
            <h1>@ViewBag.ModelType</h1>
            <h2>Purchase Now</h2>
            <div class="buttons">
                @Html.ActionLink("Standard", "PurchaseModel",  "Product",  new { Model = ViewBag.ModelTypeBtn1}, new { @class = "btn1" })
                @Html.ActionLink("Plaid", "PurchaseModel",  "Product",  new { Model = ViewBag.ModelTypeBtn2}, new { @class = "btn2" })
            </div>
        </div>
    </section>
    @Html.Partial("Footer")
</body>
</html>
