@model CartIndexViewModel

@{
    Layout = "_Layout3";
}

<h2>Your cart</h2>
<table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th class="text-center">Quantity</th>
             <th>Item</th>
             <th class="text-right">Price</th>
             <th class="text-right">Subtotal</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>
            <td></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Subtotal:</td>
            <td class="text-right">
                @Model.Cart.ComputeSubtotalValue().ToString("c")
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">Tax (7.00%):</td>
            <td class="text-right">
                @Model.Cart.ComputeTaxValue().ToString("c")
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">Shipping:</td>
            <td class="text-right">
                @Model.Cart.ComputeShippingValue().ToString("c")
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="CheckoutCar" asp-controller="Order">Checkout</a>
</div>
